html {
  cursor: default;
  min-height: 100%;
  -webkit-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  perspective: 1000px;
  position: relative;
}

pre {
  box-sizing: border-box;
  left: -0.5rem;
  margin: 0;
  padding-top: 1rem;
  position: relative;
}

.cube {
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  width: 200px;
}

.face {
  border: 2px solid #fff;
  display: block;
  height: 196px;
  margin: 0;
  position: absolute;
  width: 196px;
}

.face-1 {
  background: rgba(255, 0, 0, 0.9);
  transform: rotateY(0deg) translateZ(100px);
}

.face-2 {
  background: rgba(255, 255, 0, 0.9);
  transform: rotateX(180deg) translateZ(100px);
}

.face-3 {
  background: rgba(255, 0, 255, 0.9);
  transform: rotateY(90deg) translateZ(100px);
}

.face-4 {
  background: rgba(0, 255, 0, 0.9);
  transform: rotateY(-90deg) translateZ(100px);
}

.face-5 {
  background: rgba(0, 0, 255, 0.9);
  transform: rotateX(90deg) translateZ(100px);
}

.face-6 {
  background: rgba(0, 255, 255, 0.9);
  transform: rotateX(-90deg) translateZ(100px);
}
